$text-font-family: "Roboto", sans-serif;
$heading-font-family: "Roboto Slab", serif;

$text-font-size: 1.6rem;
$h1-font-size: 3.6rem;

// BREAKPOINTS

$bp-sm: 40em; // 600px
$bp-md: 48em; // 768px
$bp-lg: 64em; // 1024px
$bp-xl: 80em; // 1280px
