@use "../abstracts/variables" as *;

.hero {
  background-color: var(--clr-primary);
  padding-bottom: 2rem;

  & .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;

    @media screen and (min-width: $bp-md) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      gap: 4rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    @media screen and (min-width: $bp-md) {
      justify-content: center;
      padding: 6rem 0;
      gap: 2rem;
    }

    @media screen and (min-width: $bp-lg) {
      padding: 8rem 0;
    }

    h1 {
      color: var(--clr-white);
      font-size: 4.4rem;
      line-height: 1;
      margin-bottom: 1rem;

      @media screen and (min-width: $bp-md) {
        font-size: 6rem;
        margin-top: 0;
        margin-bottom: 2rem;
      }
    }

    p {
      color: var(--clr-grey);
      font-size: 1.6rem;
    }
  }

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row-start: 1;
    grid-row-end: 2;
    max-width: 100%;

    @media screen and (min-width: $bp-md) {
      grid-column-start: 2;
      grid-column-end: 3;
    }

    & img {
      max-width: 100%;
      object-fit: contain;
    }
  }
}
