@use "../abstracts/variables" as *;

.banner {
  background-color: var(--clr-secondary);
  padding: 2rem;
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  width: 80%;

  @media screen and (min-width: $bp-md) {
    flex-direction: row;
    align-items: center;
    gap: 0;
    padding: 2.5rem;
    text-align: left;
  }

  @media screen and (min-width: $bp-lg) {
    padding: 3rem;
    width: 75%;
  }

  &__content {
    color: var(--clr-white);

    @media screen and (min-width: $bp-md) {
      flex-grow: 1;
    }

    & .title {
      font-weight: 700;
      font-size: 2.6rem;
      margin-bottom: 1rem;
    }

    & .text {
      font-size: 2rem;
    }
  }

  &__cta {
  }
}
