@use "../abstracts/variables" as *;

html {
  font-size: 62.5%;
}

@media screen and (min-width: 64em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: $text-font-family;
  font-size: $text-font-size;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
}
